<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMPQ</title>
    <link rel="stylesheet" href="static\index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    

</head>
<body>
    <img src="{{url_for('static', filename='img/logo.png')}}" />
    <h1>Sistema Industrial de Monitoraje de Procesos Químicos</h1>
    <div class="container" id = "main">
        <div class="containerlogo">
            <img class= "buttonlogo" src="{{url_for('static', filename='img/visual.png')}}" />
            <a href="http://192.168.1.161:3000/d/UtYEOVv4z/" class="button1" target="_blank">Lectura de los sensores</a>
        </div>

        <div class="containerlogo">
            <img class= "buttonlogo" src="{{url_for('static', filename='img/conf.png')}}" />
            <a href="/config" class="button1">Configuración de los sensores</a>
          </div>

        <div class="containerlogo">
            <img class= "buttonlogo" src="{{url_for('static', filename='img/bbdd.png')}}" />
            <a href="http://192.168.1.161:8086/orgs/90fa688124ea0a94/data-explorer?bucket=Sensors" class="button1" target="_blank">Base de datos</a>
        </div>

        <div class="containerlogo">
            <img class= "buttonlogo" src="{{url_for('static', filename='img/actuadors.png')}}" />
            <a href="http://192.168.1.161:1880/#flow/f6f2187d.f17ca8" class="button1" target="_blank">Configuración de los actuadores</a>
        </div> 


    </div>
  
    <div class="containerlogo">
            <img class= "buttonlogo" src="{{url_for('static', filename='img/email.png')}}" />
            <a href="http://192.168.1.161:8686/api/v5/report/UtYEOVv4z?apitoken=eyJrIjoiekQ1bXB1OElkNFBTUnU5QWFwRFpNTnphV3A2YlBuVWciLCJuIjoiQWRtaW4yIiwiaWQiOjF9="
            class="button1" target="_blank">Generar Reporte del Sistema</a>
        </div> 
      
      <div class="containerlogo">
            <img class= "buttonlogo" src="{{url_for('static', filename='img/System.png')}}" />
            <a href="https://picockpit.com/mypis"
            class="button1" target="_blank">Estado del Sistema</a>
        </div> 

    
    

</body>
</html>

<!doctype html>
