body {
  background-color: #e5f0f5;
  font-family: 'Roboto';
  
}

.container {
  margin: auto;
  width: 95%;
  padding: 10px;
  background-color: white;
  border: 3px solid rgb(33, 148, 177);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,h2{
  text-align: center;
  color: #4863bb;
  text-transform: uppercase;
}
.containerlogo img{
  width:128px;
  padding: 12px;
}
.containerlogo{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}

#main a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #ffffff;
  margin:0 0.3em 0.3em 0;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  }
  
  a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #e5f0f5;
  margin:0 0.3em 0.3em 0;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  }
  
  #main a.button1:hover{
  color:#FFFFFF;
  background-color:#4863bb;
  }
  
  a.button1:hover{
  color:#FFFFFF;
  background-color:#4863bb;
  }
  
  @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
  }
